<app-navbar></app-navbar>
<div class="jumbotron text-center" id="edc">
    <h1 class="display-4">Contact Us</h1>
    <p> To reach our customer service team please email us at:customerservice@bigbasket.com <br>
        To submit a customer service request <a href="">click here</a>.
        <br> [All calls to our customer support number 1860-123-1000 will be recorded for internal training and quality purposes</p>
    
</div>
<div class="container" >
    <section>
        <h2>Office Address</h2>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>
                    BANGALORE
                    </td>
                <td>Supermarket Grocery Supplies Pvt. Ltd.
                    2nd Floor,
                    Fairway Business Park,
                    Embassy Golf Link, Challaghatta,
                    Bangalore, Karnataka 560071
                    Tel: 1860-123-1000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>HYDERABAD</td>
                <td>Hyderabad:
                    Plot No : 7-63, New No.11-6-2028, Phase II,
                    S.V.Co-operative Industrial Estate, Kukatpally.
                    RR Dist.
                    Secunderabad : 500037
                    Tel: 1860-123-1000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>MUMBAI
                    </td>
                <td>Mumbai:
                    Gala No. 3,4,5,6, Krishna Mill Compound
                    Sonapur lane, Off LBS marg,Bhandup West
                    Mumbai-400 078
                    Tel: 1860-123-1000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>
                    KOLKATA</td>
                <td>Kolkata:
                    Daag No.445-451, 454-456
                    P.O - Chaturbhujkati,
                    Dist: Howrah,West Bengal
                    PIN- 711313
                    Tel: 1860-123-1000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>
                    JAIPUR</td>
                <td>Supermarket Grocery Supplies (P.) Ltd.
                    SP-2033, Industrial Area
                    RamchandraPura, Sitapura(Ext.)
                    Jaipur-302022
                    Near : Audi Service Station
                    Tel: 1860-123-1000</td>
              </tr><tr>
                <th scope="row">3</th>
                <td>VISAKHAPATNAM
                    </td>
                <td>Visakhapatnam:
                    UTPL campus,Ware House NO.1,
                    survey no 35,38,39.In IDA,Block A,
                    Mindi village,Gajuwaka,
                    Visakhapatnam - 530 012
                    Tel: 1860-123-1000</td>
              </tr><tr>
                <th scope="row">3</th>
                <td>
                    CHENNAI
                   </td>
                <td>Chennai:
                    DRR Avenue, No 2,3&4 Audco nagar
                    Kattupakkam,Poonamalle
                    Chennai-600056
                    Tel: 1860-123-1000</td>
              </tr>
            </tbody>
          </table>
          <div>
            <h2>Payment Options:</h2>
            <p id="cde">
                <img src="/assets/images/paym.PNG" alt="">
            </p>
</div>